<!DOCTYPE html>
<html lang="en">
<head>
    <!--favicon for different platforms-->
    <link rel="apple-touch-icon" sizes="76x76" href="../static/resources/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/resources/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/resources/favicon-16x16.png">
    <link rel="manifest" href="../static/resources/site.webmanifest">
    <link rel="mask-icon" href="../static/resources/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" type="text/css" href="../static/styles/base.css">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="theme-color" content="#333333">
    <meta charset="UTF-8">
</head>
<body>
	{% block content %}
    {% endblock %}
</body>
</html>